# AutoAIで生成したモデルのテスト

In [1]:
wml_credentials = {
  "apikey": "t1qoQzE3a6fMUHSDs7uANBUFyEhxsJC1ogaNC9oYOWTz",
  "iam_apikey_description": "Auto generated apikey during resource-key operation for Instance - crn:v1:bluemix:public:pm-20:us-south:a/0960d86217f3b669ae4408f3b4deaa08:f7e16611-81a0-442b-95b4-9dd993ffa0e9::",
  "iam_apikey_name": "auto-generated-apikey-83203e14-6c78-44cd-85a1-7694ed3522bf",
  "iam_role_crn": "crn:v1:bluemix:public:iam::::serviceRole:Writer",
  "iam_serviceid_crn": "crn:v1:bluemix:public:iam-identity::a/0960d86217f3b669ae4408f3b4deaa08::serviceid:ServiceId-03894ac8-aafe-4bea-bbc8-a03ec18813d5",
  "instance_id": "f7e16611-81a0-442b-95b4-9dd993ffa0e9",
  "password": "75e040d8-31c7-4611-b83b-de19dfe2a328",
  "url": "https://us-south.ml.cloud.ibm.com",
  "username": "83203e14-6c78-44cd-85a1-7694ed3522bf"
}

In [2]:
# scoring URLの設定
scoring_url = "https://us-south.ml.cloud.ibm.com/v4/deployments/07e86931-e8cf-4c31-b2f4-792c4dc56eb1/predictions"

In [3]:
%matplotlib inline
import urllib3, requests, json
import urllib.request
import numpy as np
import pandas as pd
from IPython.display import display
import matplotlib.pyplot as plt

In [4]:
# トークン取得
apikey = wml_credentials["apikey"]

# Get an IAM token from IBM Cloud
url     = "https://iam.bluemix.net/oidc/token"
headers = { "Content-Type" : "application/x-www-form-urlencoded" }
data    = "apikey=" + apikey + "&grant_type=urn:ibm:params:oauth:grant-type:apikey"
IBM_cloud_IAM_uid = "bx"
IBM_cloud_IAM_pwd = "bx"
response  = requests.post( url, headers=headers, data=data, 
        auth=( IBM_cloud_IAM_uid, IBM_cloud_IAM_pwd ) )
iam_token = response.json()["access_token"]

print('iam_token = ', iam_token)

iam_token =  eyJraWQiOiIyMDE5MDcyNCIsImFsZyI6IlJTMjU2In0.eyJpYW1faWQiOiJpYW0tU2VydmljZUlkLTAzODk0YWM4LWFhZmUtNGJlYS1iYmM4LWEwM2VjMTg4MTNkNSIsImlkIjoiaWFtLVNlcnZpY2VJZC0wMzg5NGFjOC1hYWZlLTRiZWEtYmJjOC1hMDNlYzE4ODEzZDUiLCJyZWFsbWlkIjoiaWFtIiwiaWRlbnRpZmllciI6IlNlcnZpY2VJZC0wMzg5NGFjOC1hYWZlLTRiZWEtYmJjOC1hMDNlYzE4ODEzZDUiLCJzdWIiOiJTZXJ2aWNlSWQtMDM4OTRhYzgtYWFmZS00YmVhLWJiYzgtYTAzZWMxODgxM2Q1Iiwic3ViX3R5cGUiOiJTZXJ2aWNlSWQiLCJhY2NvdW50Ijp7InZhbGlkIjp0cnVlLCJic3MiOiIwOTYwZDg2MjE3ZjNiNjY5YWU0NDA4ZjNiNGRlYWEwOCJ9LCJpYXQiOjE1NzQ2NzIwMjUsImV4cCI6MTU3NDY3NTYyNSwiaXNzIjoiaHR0cHM6Ly9pYW0ubmcuYmx1ZW1peC5uZXQvb2lkYy90b2tlbiIsImdyYW50X3R5cGUiOiJ1cm46aWJtOnBhcmFtczpvYXV0aDpncmFudC10eXBlOmFwaWtleSIsInNjb3BlIjoiaWJtIG9wZW5pZCIsImNsaWVudF9pZCI6ImJ4IiwiYWNyIjoxLCJhbXIiOlsicHdkIl19.L5qDIBXq3HkGTQCviZ7k5jCvTE5cghFgE56wOEL7vyZvWIt82OlXayaFgEUBAEZkxEm44eVMG1SaPRTsy1hRxA3-Zk1h0RSb5lorDC6jyi5BIVLcPT48-ruxRK7-rGIm_hoMtpWiULAz1zox0sfhXuB2D1YDveaqguucr2BzUlbv1Zelf9-QgsW0j_5n1o-3qWXvMBN6E741Uvx1_aQ7UvkYLHdQBezuHruZAaOIZtm8DUDqDCmzEiyB6J61P0yU0ER1pCkbw8PM8k8BaXGt778Sw531dgvevVw7EbUIQkfeX2kBUOoilJU9vpXTIGlM1T5VfxqAoY69o7joy95p0g

In [5]:
# Header の組立て
header_token = {'Content-Type': 'application/json', 'Authorization': 'Bearer ' + iam_token}
ml_instance_id = wml_credentials["instance_id"]
header = {'Content-Type': 'application/json', 'Authorization': 'Bearer ' + iam_token, 'ML-Instance-ID': ml_instance_id}

In [6]:
# The code was removed by Watson Studio for sharing.

,DATE,Y,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14
0,Wed Mar 08 00:00:00 UTC 2017,85281,32.7,2.7,6.2,21.1,11.0,14.2,4771252.43,100126.56,30,13,0,65,2,91
1,Thu Mar 09 00:00:00 UTC 2017,85573,41.9,6.5,9.0,29.5,11.8,21.7,4769423.10,99787.45,21,22,7,54,2,91
2,Fri Mar 10 00:00:00 UTC 2017,86730,30.0,6.5,5.6,17.8,11.0,19.9,4807670.28,105127.16,32,15,6,30,2,91
3,Sat Mar 11 00:00:00 UTC 2017,96306,30.2,7.6,11.2,12.9,15.1,17.3,5081779.16,124681.71,40,15,7,15,2,91
4,Sun Mar 12 00:00:00 UTC 2017,103809,50.6,7.5,18.8,28.9,16.9,27.8,4926851.40,116052.82,44,15,9,39,2,92

In [7]:
Yt = df['Y'].values

In [8]:
print(Yt[:5])

[ 85281  85573  86730  96306 103809]

In [9]:
df1 = df.drop(['Y'], axis=1)

In [10]:
display(df1.head())

,DATE,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14
0,Wed Mar 08 00:00:00 UTC 2017,32.7,2.7,6.2,21.1,11.0,14.2,4771252.43,100126.56,30,13,0,65,2,91
1,Thu Mar 09 00:00:00 UTC 2017,41.9,6.5,9.0,29.5,11.8,21.7,4769423.10,99787.45,21,22,7,54,2,91
2,Fri Mar 10 00:00:00 UTC 2017,30.0,6.5,5.6,17.8,11.0,19.9,4807670.28,105127.16,32,15,6,30,2,91
3,Sat Mar 11 00:00:00 UTC 2017,30.2,7.6,11.2,12.9,15.1,17.3,5081779.16,124681.71,40,15,7,15,2,91
4,Sun Mar 12 00:00:00 UTC 2017,50.6,7.5,18.8,28.9,16.9,27.8,4926851.40,116052.82,44,15,9,39,2,92

In [11]:
# DataFrameから項目名Listの生成
fields = df1.columns.tolist()
print(fields)

['DATE', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10', 'X11', 'X12', 'X13', 'X14']

In [17]:
# DataFrameから入力用Listの生成
values = df1.values.tolist()
# テスト用
#values = df1.head(2).values.tolist()
print(values[:2])

[['Wed Mar 08 00:00:00 UTC 2017', 32.7, 2.7, 6.199999999999998, 21.1, 11.0, 14.2, 4771252.43, 100126.56, 30, 13, 0, 65, 2, 91], ['Thu Mar 09 00:00:00 UTC 2017', 41.90000000000001, 6.5, 9.0, 29.5, 11.8, 21.7, 4769423.1, 99787.45, 21, 22, 7, 54, 2, 91]]

In [18]:
# payload変数の組立て
payload_scoring = {"input_data": [{
    "fields": fields, 
    "values": values
}]}

In [19]:
# APIの呼出し
response_scoring = requests.post(scoring_url,  json=payload_scoring, headers=header)

In [20]:
# 戻り値のparse
res = json.loads(response_scoring.text)

pred = res['predictions'][0]
pred_values = pred['values']
pred_values0 = [v[0][0] for v in pred_values]
pred_fields = pred['fields']
df_res = pd.DataFrame(pred_values0, columns = pred_fields)

In [21]:
display(df_res.head())

     prediction
0  84624.406250
1  89949.171875
2  88986.390625
3  94686.203125
4  95471.203125

In [23]:
print(len(df_res))

98